<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
    <link rel="stylesheet" href="form.css">
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="container">
        <header>registro</header>

        <form action="#">
            <div class="details personal">
                <span class="title">Detalhes pessoais</span>
                <div class="fields">
                    <div class="input-field">
                        <label>Seu nome:</label>
                        <input type="text" placeholder="Preencha seu Nome" required>
                    </div>

                    <div class="input-field">
                        <label>Seu email:</label>
                        <input type="text" placeholder="Preencha seu email" required>
                    </div>
                    
                    <div class="input-field">
                        <label>Número de telefone:</label>
                        <input type="number" placeholder="Preencha seu Número de telefone" required>
                    </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</body>

</html>